@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Baloo+Chettan+2:wght@400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Syne:wght@400..800&display=swap');


:root {
    --f1: "Baloo+Chettan+2", sans-serif;
    --f2: "Andika", sans-serif;
    --c1: #1E1E1E;
    --c2: #95D2D8;
    --c3: #F9A6A0;
    --c4: #FFFFFF;
}
body {
    overflow-x: hidden;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.container-fluid {
    padding: 0 160px;
}
h1, h2, h3, h4, h5, h6, p, a, span, li {
    font-family: var(--f1);
}
*{
    margin-bottom: 0;
    padding: 0;
}
.header-nav nav ul {
    display: flex;
    gap: 50px;
    justify-content: center;
}
.banner-image img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    /* max-height: 989px; */
}

header.main-header {
    position: absolute;
    width: 100%;
    z-index: 1;
    padding: 10px 0;
}
ul.social-list {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 30px;
}

ul.social-list li {
    height: 30px;
    width: 30px;
    background: var(--c4);
    text-align: center;
    align-items: center;
    line-height: 30px;
    border-radius: 50%;
}

ul.social-list li a {
    color: var(--c2);
}
ul.search-list {
    display: flex;
    justify-content: end;
    gap: 25px;
    align-items: center;
    font-size: 24px;
}

ul.search-list li a {
    color: var(--c1);
}
.header-bottom {
    border: 1px solid var(--c3);
    background: var(--c4);
    padding: 10px 30px;
    border-radius: 20px;
}
.header-top-items p {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 400;
    font-family: var(--f2);
    color: var(--c4);
}
.header-top {
    padding: 2px 0px 12px 0;
}
.header-logo img {
    width: 40%;
}
.products {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.product-inner h4 {
    font-size: 25px;
    font-weight: 700;
    color: var(--c4);
    margin: 1px 0;
}

.product-inner p {
    font-size: 20px;
    font-weight: 400;
    color: var(--c4);
    margin: 0px 0;
}
/* Header-End */

/* Banner-sec */
.baby-img img {
    width: 100%;
}
.bannert-sec {
    position: relative;
    z-index: 0;
}
.header-nav nav ul li a {
    font-family: var(--p1-font);
    font-size: 20px;
    color: var(--p2);
}
.banner-con {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
.banner-inner-con h6 {
    font-family: var(--p1-font);
    font-size: 25px;
    font-weight: 700;
    color: var(--c4);
}

.banner-inner-con h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 70px;
    color: var(--c4);
}

.banner-inner-con p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: var(--c4);
    padding: 10px 0;
}
.banner-inner-con {
    color: var(--p2
);
}
a.btn-1 {
    color: var(--c4);
    background: var(--c3);
    padding: 18px 30px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 80px;
    /* display: table; */
}

.banner-btn {
    padding-top: 30px;
}
a.btn-2 {
    background: var(--c4);
    padding: 18px 30px;
    color: var(--c3);
    font-size: 20px;
    font-weight: 700;   
}
.products-icon img {
    width: 100%;
}

/* category */
.category-inner{
    background-image: url(../images/category-1.png);
    width: 100%;
    height: 470px;
    background-size: cover;
    position: relative;
    border-radius: 30px;
}
.category-icon {
    position: absolute;
    bottom: 0;
    left: 10%;
}
.category-about h3 {
    font-size: 30px;
    font-weight: 600;
    padding: 8px 0;
    color: #2E4B4B;
}

.category-about p {
    font-size: 20px;
    font-weight: 400;
    color: #6C6C6C;
}
.category-inner-2{
    background-image: url(../images/category-2.png);
    width: 100%;
    height: 470px;
    background-size: cover;
    position: relative;
        border-radius: 30px;
}
.category-icon-2 {
    position: absolute;
    bottom: 0;
    left: 10%;
}
.baby-accessories h3 {
    font-size: 30px;
    font-weight: 600;
    padding: 8px 0;
    color: var(--c4);
}

.baby-accessories p {
    font-size: 20px;
    font-weight: 400;
    color: var(--c4);
}
.category-inner-3{
    background-image: url(../images/category-3.png);
    width: 100%;
    height: 470px;
    background-size: cover;
    position: relative;
        border-radius: 30px;
}
.category-icon-3 {
    position: absolute;
    bottom: 25%;
    left: 52%;
}
.baby-clothing h3 {
    font-size: 30px;
    font-weight: 600;
    padding: 8px 0;
    color: var(--c4);
}

.baby-clothing p {
    font-size: 20px;
    font-weight: 400;
    color: var(--c4);
}
section.category-sec {
    padding: 140px 0;
}
/* clothing */
.about-cloth h3 {
    font-size: 60px;
    font-weight: 600;
    line-height: 70px;
    color: var(--c4);
}

.about-cloth p {
    font-size: 20px;
    font-weight: 400;
    color: var(--c4);
}
section.clothing-sec {
    position: relative;
    padding-top: 80px;
}

.clothing-sec-inner {
    position: absolute;
    content: "";
    top: 0;
    width: 100%;
    height: 100%;
    /* bottom: auto; */
    /* transform: translate(0%, -50%); */
    display: flex;
    align-items: center;
    justify-content: center;
}


.clothing-banner img {
    width: 100%;
    height: 790px;
    object-fit: cover;
}
a.shop-now {
    color: var(--c4);
    background: var(--c3);
    padding: 18px 30px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 80px;
}
/* sell-product */
.product-insight h3 {
    font-size: 60px;
    font-weight: 600;
    color: #2E4B4B;
}

.product-insight p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #6C6C6C;
    padding: 20px 0;
}
.product-category {
    display: flex;
    align-items: center;
    gap: 25px;
    border: 1px solid var(--c2);
    padding: 20px 20px 10px 40px;
    border-radius: 10px;
    margin-top: 40px;
}
.nappy-about h4 {
    font-size: 18px;
    font-weight: 700;
    color: var(--c1);
    margin: 12px 0;
}

.nappy-about p {
    font-size: 16px;
    font-weight: 400;
    color: var(--c1);
}
section.what-we-sell {
    padding: 100px 0;
}
.feature-bg {
    position: relative;
}

.feature-bg::before {
    content: url(../images/feature-products.png);
    position: absolute;
    top: -220px;
    left: 0;
    width: 150px;
    height: auto;
    z-index: 0;
}
/* .feature */
.feature-product-inner h3 {
    font-size: 60px;
    font-weight: 600;
    color: #2E4B4B;
}
.feature-product-inner p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #6C6C6C;
    padding: 15px 0;
}
.product-card {
    border: 1px solid var(--c2);
    height: 500px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
    margin-left: 20px;
    margin-right: 20px;
}

.feature-img {
    background: #EEF9FA;
    padding: 60px 0px;
    margin: 10px 10px 10px 10px;
    height: 280px;
}

.feature-product-detail h5 {
    font-size: 25px;
    font-weight: 700;
    color: var(--c2);
    padding: 20px 0;
}
a.feature-btn {
    color: var(--c4);
    background: var(--c2);
    padding: 12px 30px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 80px;
}
.feature-btn-con {
    padding: 20px;
}
/* our-partner */
.partner-inner p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #6C6C6C;
    padding: 15px 0;
}

.partner-inner h3 {
    font-size: 60px;
    font-weight: 600;
    color: #2E4B4B;
}
ul.partner-img-list {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.pd-2 {
    padding-top: 70px;}
ul.partner-top {
    border-bottom: 2px solid var(--c3);
    padding: 30px 0 60px 0;
}
.partner-img-2 {
    padding: 60px 0 0 0;
}
section.our-partner {
    padding: 100px 0;
}
.partner-before {
    position: relative;
}
.partner-before::before {
    content: url(../images/partners-bg.png);
    position: absolute;
    top: 70px;
    left: -40px;
    width: 150px;
    height: auto;
    z-index: 0;
}
.partner-before::after {
    content: url(../images/partners-bg-2.png);
    position: absolute;
    top: 0px;
    left: auto;
    width: 150px;
    height: auto;
    z-index: 0;
    right: 0;
}
/* newsletter */
.newsletter-inner h3 {
    font-size: 60px;
    font-weight: 600;
    color: var(--c4);
    padding-bottom: 30px;
}

.newsletter-inner input {
    padding: 10px 25px;
    width: 50%;
    border-radius: 80px;
    border: 2px solid var(--c3);
}
.newsletter-inner {
    background: var(--c2);
    padding: 50px 0;
    border-radius: 30px;
}
.newsletter-inner p {
    color: var(--c4);
    padding-top: 12px;
    text-align: left;
    padding: 12px 200px;
}
a.subscribe-btn {
    background: var(--c4);
    padding: 12px 37px;
    color: var(--c3);
    font-size: 14px;
    font-weight: 700;
    border-radius: 80px;
    border: 2px solid var(--c3);
}
.newsletter-panda::before {
    content: url(../images/newsletter-bg.png);
    position: absolute;
    top: -86px;
    left: 300px;
    width: 150px;
    height: auto;
    z-index: 0;
    /* bottom: 0px; */
}

.newsletter-panda {
    position: relative;
}
/* footer */
.footer-logo p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: var(--c4);
    padding: 15px 0;
}
.py-1 {
    padding: 0 220px;
}   

.we-here h4 {
    font-size: 25px;
    font-weight: 600;
    line-height: 70px;
    color: var(--c4);
}
.we-here p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: var(--c4);
}
a.map-btn {
    padding: 9px 25px;
    background: var(--c4);
    border-radius: 80px;
    color: #6C6C6C;
    font-family: var(--f1);
    font-size: 16px;
    font-weight: 400;
}
span.map-icon {
    padding: 0 13px 0 0px;
}
footer.footer {
    background: var(--c2);
    margin-top: 130px;
}

.footer-top {
    padding: 100px 0 20px 0;
    border-bottom: 2px solid var(--c4);
}
a.phone-btn {
    padding: 9px 45px 9px 25px;
    background: var(--c4);
    border-radius: 80px;
    color: #6C6C6C;
    font-family: var(--f1);
    font-size: 16px;
    font-weight: 400;
}

a.email-btn {
    padding: 9px 24px;
    background: var(--c4);
    border-radius: 80px;
    color: #6C6C6C;
    font-family: var(--f1);
    font-size: 16px;
    font-weight: 400;
}
ul.footer-social-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}
ul.footer-social-list li {
    height: 30px;
    width: 30px;
    background: var(--c4);
    text-align: center;
    align-items: center;
    line-height: 30px;
    border-radius: 50%;
}
ul.footer-social-list li a {
    color: var(--c2);
}
.copyright-text p {
    margin: 0;
    padding: 10px 0 3px 0;
    font-size: 20px;
    font-weight: 400;
    color: var(--c4);
}

/* tabs-sect */
.nav-pills .nav-link {
    font-size: 20px;
    font-weight: 500;
    color: #2E4B4B;
}
.nav {
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 25px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: var(--c3);
    color: #2E4B4B;
}
.tab-content {
    padding: 80px 0;
}
.best-seller {
    padding-bottom: 50px;
}
/* slider */
.blog-detail h6 {
    font-size: 14px;
    font-weight: 400;
    color: #6C6C6C;
}

.blog-detail h3 {
    font-size: 17px;
    font-weight: 600;
    color: #2E4B4B;
    line-height: 40px;
}

.blog-detail p {
    font-size: 14px;
    font-weight: 400;
    color: #6C6C6C;
    padding-bottom: 8px;
}

.blog-detail {
    background: #95D2D880;
    padding: 18px 90px 40px 30px;
    border-radius: 18px;
    margin-top: 20px;
}
a.slider-read {
    color: var(--c4);
    background: var(--c3);
    padding: 10px 25px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 80px;
}
.blog-img img {
    border-right: 5px solid var(--c2);
    border-radius: 30px;
}
.blog-img {
    position: relative;
    z-index: 0;
}
.blog-img-2 {
    position: relative;
    z-index: 0;
}

.blog-img-2 img {
    border-right: 5px solid var(--c1);
    border-radius: 30px;
}

.blog-detail-2 {
    background: #F9A6A080;
    padding: 18px 90px 40px 30px;
    border-radius: 18px;
    margin-top: 20px;
}

a.slider-read-2 {
    color: #2E4B4B;
    background: none;
    padding: 10px 25px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 80px;
    border: 1px solid #2E4B4B;
}
.swiper-wrapper {
    padding: 40px 0 120px 0;
}
.swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap,4px);
    width: 25px;
    height: 6px;
    border-radius: 25px;
}
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 50px;
    height: 6px;
    color: #111 !important;
}

/* Color for active bullet */
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #F9A6A0; /* Active color */
}

/* Color for non-active bullets */
.swiper-pagination-bullet {
    background: #95D2D8; /* Non-active color */
}
section.testimonial-section {
    padding: 120px 0 0px 0;
}